*customization: -color
xterm*termName: xterm-256color

xterm*faceName: Source Code Pro for Powerline
xterm*faceSize: 10

!border
xterm*borderWidth: 0
xterm*internalBorder: 0

! terminal colours
xterm*foreground:#CCCCCC
xterm*background:#1B1D1E

!black darkgray
xterm*color0:    #1B1D1E
xterm*color8:    #808080
!darkred red
xterm*color1:    #FF0044
xterm*color9:    #F92672
!darkgreen green
xterm*color2:    #82B414
xterm*color10:   #A6E22E
!darkyellow yellow
xterm*color3:    #FD971F
xterm*color11:   #E6DB74
!darkblue blue
xterm*color4:    #266C98
xterm*color12:   #7070F0
!darkmagenta magenta
xterm*color5:    #AC0CB1
xterm*color13:   #D63AE1
!darkcyan cyan
xterm*color6:    #AE81FF
xterm*color14:   #66D9EF
!gray white
xterm*color7:    #CCCCCC
xterm*color15:   #F8F8F2

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1b1d1e, #252525, #252525
rofi.color-normal: #1b1d1e, #ffffff, #1b1d1e, #e3e3e3, #000000
rofi.color-active: #1b1d1e, #389bdf, #1b1d1e, #389bdf, #ffffff
rofi.color-urgent: #1b1d1e, #ff5f00, #1b1d1e, #ff5f00, #ffffff
rofi.bw: 10
rofi.font: Source Code Pro 10
